<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.azmmahtech.listview">
	
	
	
	<uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	


    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.azmmahtech.listview.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.azmmahtech.listview.About" />
        <activity android:name="com.azmmahtech.listview.About_alfki" />
        <!--activity android:name=".Singleitem" /-->
        <activity android:name="com.azmmahtech.listview.SubjectList" />
		<activity android:name="com.azmmahtech.listview.MainHome" />
			
			
			
		<activity android:name="com.azmmahtech.listview.Privacy_policy" />
			
			
	
		<activity android:name="com.azmmahtech.listview.Main1Activity" />
		<activity android:name="com.azmmahtech.listview.Main2Activity" />
		<activity android:name="com.azmmahtech.listview.Main3Activity" />
		<activity android:name="com.azmmahtech.listview.Main4Activity" />
		<activity android:name="com.azmmahtech.listview.Main5Activity" />
		<activity android:name="com.azmmahtech.listview.Main6Activity" />
		<activity android:name="com.azmmahtech.listview.Main7Activity" />
		<activity android:name="com.azmmahtech.listview.Main8Activity" />
		<activity android:name="com.azmmahtech.listview.Main9Activity" />
		<activity android:name="com.azmmahtech.listview.Main10Activity" />
		<activity android:name="com.azmmahtech.listview.Main11Activity" />
			
		
			
			
		
			


    </application>

</manifest>
